@model List<Patient>


@section title {
    <h3>Patients</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Current Medications</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.DateOfBirth</td>
                    <td>@patient.Gender</td>
                    <td>@patient.PhoneNumber</td>
                    <td>@patient.Address</td>
                    <td>@patient.CurrentMedications</td>
                    <td><a class="btn btn-link" asp-controller="patients" asp-action="edit" asp-route-id="@patient.PatientId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="patients" asp-action="delete" asp-route-patientid="@patient.PatientId" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    
}
<br />
<a class="btn btn-primary" asp-controller="patients" asp-action="add">Add</a>

@section Scripts{
    <script>
        function confirmDelete(){
            return confirm("Are you sure u want to delete this patient?")
        }
    </script>
}