<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Medical Clinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Medical Clinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Rooms")">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Doctors")">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="patients" asp-action="index">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Appointments")">Appointments</a>
                </li>
            </ul>
        </div>
    </nav>
 
     <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Medical Clinic</p>
        </footer>
    </div> 
    <div class="containter">
        <div class="pb-3">
            @RenderSection("title", false)
        </div>
        <div>
        @RenderBody()
        </div>
    </div>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
