@model List<Room>

@section title {
    <h2>Rooms</h2>
}
@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Patient First Name</th>
                <th>Patient Last Name</th>
                <th>Room Name</th>
                <th>Floor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
               <tr>
                   <td>@room.Patient?.FirstName</td>
                   <td>@room.Patient?.LastName</td>
                   <td>@room.Name</td>
                   <td>@room.Floor</td>
                   <td><a class="btn btn-link" asp-controller="rooms" asp-action="edit" asp-route-id="@room.RoomId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="rooms" asp-action="delete" asp-route-id="@room.RoomId" onclick="return confirmDelete()">Delete</a></td>
               </tr> 
            }
        </tbody>
    </table>  
}
<br />
<a class="btn btn-primary" asp-controller="rooms" asp-action="add">Add</a>
@section Scripts {
    <script>
        function confirmDelete() {
            return confirm("Are you sure u want to delete this room?")
        }
    </script>
}